body{
	background-image: url(zoo_wallpaper.jpg);
}
#logo{
	position: absolute;
	top: 20;
	left: 150;
}
#img{
	position: absolute;
	top: 50;
	left: 420;
}
h1{
	position: absolute;
	top: 300;
	left: 120;
}
#description{
	position: absolute;
	top: 370;
	left: 120;
	width: 900px;
}
ul li{
	font-size: 20px;
	margin-bottom: 10px;
}
a{
	text-decoration: none;
	color: orange;
}
#home{
	position: absolute;
	top: 500;
	left: 120;
}